<!DOCTYPE html>
<html lang="en">


<head>

    <style>
        .row {
            direction: rtl;
        }

        .direction {
            direction: rtl;
        }
    </style>

    <title>بطاقه ترشيح </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="words about college">
    <meta name="keyword" content="college, university, fgssr, faculty of gradutate, faculty of graduate studies, faculty of graduate studies for statistical research, diploma, professional, academy, academic, professional diploma, academic diploma">
    <link rel="shortcut icon" href="~/images/fgssricon.webp" type="image/x-icon">



    <link rel="stylesheet" href="~/template/cssRTL/font-awesomeRTL.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/template/cssRTL/materializeRTL.css" asp-append-version="true">
    <link rel="stylesheet" href="~/template/cssRTL/bootstrapRTL.css" asp-append-version="true">
    <link rel="stylesheet" href="~/template/cssRTL/bootstrappluginRTL.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/template/cssRTL/styleRTL.css" asp-append-version="true">
    <link rel="stylesheet" href="~/template/cssRTL/style1RTL.css" asp-append-version="true">
    <link rel="stylesheet" href="~/template/themifyicons/themify-icons.css" asp-append-version="true" />
    <link href="~/chat/chatcss.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/template/cssRTL/style-mobRTL.css" asp-append-version="true">

</head>
<body>
    @RenderBody();
</body>
</html>