@page "/account/notify"
@model NotifyModel


<style>

    .direction {
        direction: rtl;
    }

    .bigtext {
        font-size: 25px !important;
    }

    .bigtextadmin{
        font-size:20px !important;
    }

    #notifymessageprofile{
        padding-top:50px;
    }


    .myspan {
        position: absolute;
        top: -0.5px; /* Adjust as needed */
        right: 73%; /* Center the icon horizontally */
        transform: translateX(50%); /* Center the icon horizontally */
        font-size: 20px;
        color: yellow;
        animation: shake 0.3s infinite;
        
    }

    .hidenotify{

        display:none;
    }

    @@keyframes shake {
        0% {
            transform: translateX(50%) rotate(0deg);
        }

        25% {
            transform: translateX(45%) rotate(-10deg);
        }

        50% {
            transform: translateX(50%) rotate(0deg);
        }

        75% {
            transform: translateX(55%) rotate(10deg);
        }

        100% {
            transform: translateX(50%) rotate(0deg);
        }
    }

</style>

<section>
    <div class="pro-cover">
    </div>
    <div class="pro-menu">
        <div class="container">
            <div class="col-md-9 col-md-offset-3 direction">
                <ul>
                    <li><a href="/account/profile">الحساب</a></li>
                    <li><a href="/account/email">الايميل</a></li>
                    <li><a href="/account/password">تغيير كلمة المرور</a></li>
                    <li><a href="/account/phonenumber">الموبيل</a></li>
                    <li><a href="/account/diplomastatus">حاله طلب التقديم</a></li>
                    <li><a href="/account/notify">الإشعارات</a><i class="myspan hidenotify fa fa-bell"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="stu-db direction">
        <div class="container pg-inn">
            <div class="col-md-3">
                <div class="pro-user">
                    @if (Model.Input.ProfileImage == null)
                    {
                        <img src="~/uploads/users/defaultuserimage.webp" alt="No Image" asp-append-version="true">
                    }
                    else
                    {
                        <img src="~/uploads/users/@Model.Input.ProfileImage" alt="No Image" width="245" height="245" asp-append-version="true">
                    }
                </div>
                <div class="pro-user-bio">
                    <ul>
                        <li>
                            <h4>@Model.Input.FullNameArabic</h4>
                        </li>
                        @if (Model.Input.StudentNumber != null)
                        {
                            <li>رقم الطالب: @Model.Input.StudentNumber</li>

                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="udb">

                    <div class="udb-sec udb-prof">

                        <h4 class="bigtext"><img src="~/images/db1.webp" alt="" asp-append-version="true" /> الإشعارات</h4>
                        <div class="sdb-tabl-com sdb-pro-table">
                            <table class="responsive-table bordered">
                                <tbody>
                                    <div id="notifymessageprofile">

                                    </div>

                                </tbody>
                            </table>
                            <div class="sdb-bot-edit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@* <div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>أحدث المستخدمين</h4>
                </div>
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>الصوره</th>
                                    <th>الاسم</th>
                                    <th>الموبيل</th>
                                    <th>الايميل</th>
                                    <th>تاريخ الميلاد</th>
                                    <th>الدبلومه</th>
                                    <th>حاله الطلب</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        asdadadadad
                                    </td>
                                    <td>adadada</td>
                                    <td>adadada</td>


                                    <td>asddas</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@



<div id="notifymessageprofile">
</div>
