
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

    span {
        font-size: 20px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            ملامح تميز الكلية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                
                    <p"><strong>الإمكانات المتوفرة بالكلية</strong></p>
                    <ol style="text-align: right;">
                        <li>فريق عمل متخصص من أعضاء هيئة التدريس والهيئة المعاونة (أكثر من 100عضو) والخبراء بالجامعات المصرية والمراكز العلمية المتخصصة وأكثر من 1300 طالب دراسات عليا (المبرمجين).</li>
                        <li>يوجد بالمعهد أكثر من 10 معامل بها 500 أجهزة الحاسب الشخصي المحملة بالبرامج الأصلية و10 قاعات مجهزة وعدد 80 طابعة ليزر و10 ماكينة تصويروعدد 10 قاعات للتدريب النظرى ومثلها للتدريب العملى.</li>
                        <li>الخبرات المتميزة في إجراء البحوث والدراسات (5 أبحاث بالعامين الأخرين)، وأكثر من عشر دورات تدريبية مع منظمة الصحة العالمية بالعام الأخير.</li>
                        <li>تصميم وتنفيذ حزم برامج الحوسبة في وزارة البحث العلمي (معهد تيودر بلهارس) وتدريب العاملين على استخدامها واشترك فيه مجموعة من اعضاء هيئة التدريس وعدد من المبرمجين بالمعهد.</li>
                        <li>مراكز متخصصة: وحدة المعمل الإحصائي، مركز التطبيقات الديموجرافية وتنمية الموارد البشرية، مركز الاستشارات القياسية والاحصائية، مركز البرمجيات والاستشارات المعلوماتية، مكتبة إحصائية متميزة.</li>
                        <li>المجلات العلمية بالمعهد: يصدر المعهد ثلاث مجلات علمية متخصصة و هى:</li>
                    </ol>
                    <p>المجلة الاحصائية المصرية - المجلة المصرية للسكان وتنظيم الاسرة - المجلة المصرية لعلوم الحاسب</p>
                    <ol">
                        <li>التدريب: يقدم المعهد أكثر من 60 دورة تدريبية تغطى احتياجات سوق العمل فى تخصصات المعهد</li>
                        <li>المؤتمر السنوي للمعهد الدورى على مدار أكثر من خمسين عاماً.</li>
                    </ol>
                    <p><strong>السمات التنافسية للكلية</strong><strong>&nbsp; </strong>تعكس إستراتيجية المعهد شخصيته المستقلة وخصائصه المميزة لطبيعة نشاطه.</p>
                    <p><strong>وأهم ملامح التميز للكلية هى:</strong></p>
                    <ol>
                        <li>قبول جميع خريجى الجامعات والمعاهد العليا المعادلة للالتحاق بدبلومات الدراسات العليا بالكلية.</li>
                        <li>توافر عدد من أعضاء هيئة التدريس والهيئة المعاونة المؤهلين والمعتمدين مهنيا على المستوى الاقليمى والدولى.</li>
                        <li>تقديم برامج مميزة لا تقدمها المؤسسات العلمية الاخرى مثل برامج الدراسات المهنية والاحصاء السكانى.</li>
                        <li>المنافسة بالخريجين على المستوى المحلى والأقليمى والدولى فى مجالات وتخصصات المعهد.</li>
                        <li>تنامى أعداد الدرجات العلمية الممنوحة وأعداد الطلاب الوافدين والدرجات العلمية الممنوحة لهم.</li>
                        <li>البرامج التدريبية المتميزة والحديثة وفق متطلبات سوق العمل وباستخدام أحدث الأنظمة الآلكترونية.</li>
                    </ol>
                    <p><strong>أهم نقاط القوة بالكلية:</strong></p>
                    <p>-&nbsp;&nbsp; كفاية وكفاءة أعضاء هيئة التدريس ذوى الخبرات المختلفة والتنوع في التخصصات الدقيقة.</p>
                    <p >-&nbsp;&nbsp; اصدار المعهد لثلاث مجلات علمية متخصصة فى علوم الاحصاء والسكان وعلوم الحاسب.</p>
                    <p>-&nbsp;&nbsp; يقبل خريجين جامعيين من جميع التخصصات بعد اجتيازهم لامتحان القبول والدورات المؤهلة.</p>
                    <p>-&nbsp;&nbsp; كفاية معامل تدريب المستفيدين والطلاب وتوفر البرامج الأصلية الحديثة.</p>
                    <p>-&nbsp;&nbsp; اعداد دراسات وابحاث متخصصة بالتعاون مع بعض الجهات العالمية والأقليمية والمحلية.</p>
                    <p>-&nbsp;&nbsp; تنوع البرامج الاكاديمية والمهنية التى يمنحها المعهد والتى تلبى احتياجات سوق العمل.</p>
                    <>-&nbsp;&nbsp; انفراد المعهد بتدريس معظم دراسته باللغة العربية/ الإنجليزية معوجود مكتبة احصائية فريدة فى الشرق الاوسط.</>
                    <p>-&nbsp;&nbsp; تنظيم مؤتمر سنويا تجاوز عمره الخمسون بصورة دورية ومنتظمة.</p>
                    <p>-&nbsp;&nbsp; توافر الأعداد/الإصدارات الحديثة للمجلات المتخصصة فى مجالات وتخصصات المعهد.</p>
                    <p>-&nbsp;&nbsp; وجود قنوات مؤسسية للتواصل والتعاون مع الهيئات البحثية القومية والأجنبية.</p>
                    <p>-&nbsp;&nbsp; توافر أنظمة آلية بالمعهد مثل نظام للتسجيل الالكترونى عبر الانترنت والموبيل ... الخ.</p>
                    <p>-&nbsp;&nbsp;&nbsp; التعاون فى مجال التدريب فى العديد من المجالات مثل المنظمات والهيئات التى تهتم بالدراسات السكانية والمسوح المجتمعية وعلوم الحاسب ونظم وتكنولوجيا المعلومات وبحوث وادارة العمليات.</p>
                    <p>-&nbsp;&nbsp;&nbsp; التوجهات الحديثة للدولة واهتمامها بالقضية السكانية ودعم القرار الادارى باستخدام تكنولوجيا المعلومات والأساليب الكمية والتقنيات الحديثة فرصة للمعهد لامداد الوزارات والهيئات بالكوادر المؤهلة بمصر وخارجها.</p>
                    <p>-&nbsp;&nbsp;&nbsp; استغلال التقدم التكنولوجى وتطور الحزم الاحصائية والرياضية فى إعداد متخصصين يساهمون فى خدمة المجتمع وتطوره مع زيادة الطلب على استخدام تكنولوجيا المعلومات مهنيا وتدريبيا وفى الخدمات الاستشارية.</p>
                    <p>-&nbsp;&nbsp;&nbsp; وجود طلب على الدراسات العليا فى الاحصاء وعلوم الحاسب ونظم وتكنولوجيا المعلومات وبحوث وادارة العمليات وعلى البرامج المهنية وخريجيها خاصة بدول الخليج.</p>
                    <p><strong>المراكز والوحدات ذات الطابع الخاص: تضم عدد 4 وحدات تتمثل أهم الأهداف والأنشطة التي تقوم بها </strong>فى:</p>
                    <ol>
                        <li>إجراء البحوث والدراسات اللازمة لتحسين مستوى أداء خدمات الحسابات العلمية والالكترونية.</li>
                        <li>تصميم النظم الآلية عند تنفيذ العمليات الإحصائية الفنية والإدارية بالهيئات والمؤسسات المختلفة.</li>
                        <li>تقديم الاستشارات العلمية والتطبيقية لمعالجة المشاكل المقدمة من مراكز البحوث والهيئات والأفراد.</li>
                        <li>القيام بالخدمات الإحصائية والإلكترونية، أو بتطبيق الأساليب الرياضية، لحل مشاكل البحوث العلمية.</li>
                        <li>تخطيط وإجراء البحوث فى المجالات السكانية والصحية وتخطيط وتنمية الموارد البشرية وغيرها.</li>
                        <li>تقديم الاستشارات فى مجالات وتخصصات المعهد وعقد واستضافة حلقات العمل والندوات المتخصصة.</li>
                        <li>التعاون مع الهيئات الدولية والأجنبية والمحليةوالقيام بالمشروعات البحثيةلصالحها.</li>
                        <li>اقامة الدورات التدريبية في الإحصاء وعلوم الحاسب وتكنولوجيا المعلومات واستخدام الأساليب الذكية.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li>تصميم وتطوير مواقع على شبكة الإنترنت والتعليم الإلكتروني للمؤسسات والأشخاص.</li>
                        <li>تصميم النظم والبرمجيات اللازمة لاستخدام الحواسب وتدريب الأفراد داخل المؤسسة على استخدامها.</li>
                    </ol>
                    <p><strong>التدريب: </strong>يعتبر التدريب احد مجالات المعهد الرئيسية التى تميز المعهد والذى ينفرد بها كثيراً، ويمنح المتدرب شهادة&nbsp; معتمدة من جامعة القاهرة يمكن توثيقها من وزارة الخارجية ، وسياسة التدريب سياسة مفتوحة فأنه:</p>
                    <ul>
                        <li>يمكن الاتفاق مع الجهات على عقد برامج بأساليب ومواعيد خاصة بما يتناسب مع ظروفهم وإمكانياتهم.</li>
                        <li>يمكن أن يتم التدريب فى الهيئات أو المؤسسات بانتقال المحاضرين إليهم وذلك بعد التنسيق مع المعهد إذا توافرت لدى المؤسسة أو الهيئة المكان والأجهزة والبرامج اللازمة .</li>
                    </ul>
                    <p>يقوم المعهد بعقد دورات تدريبية في مجالات واهتمامات وتخصصات المعهد ودورات متخصصة.</p>
                    <p><strong>البحوث والدراسات</strong>: تعد البحوث والدراسات العلمية احد مجالات المعهد الرئيسية التى تميزه والذى ينفرد بها كثيراً، حيث يقوم المعهد بتقديم الإستشارات الإحصائية والمعلوماتية لكل الجهات فى مختلف المجالات وأيضا يقوم بتنفيذ المشروعات البحثية للجهات الحكومية والمؤسسات والشركات فى القطاعين العام والخاص والإستثمارى بالإضافة إلى تنظيم عقد الندوات وحلقات البحث فى المجالات الإحصائية والمعلوماتية وتقديم خدمات الدعم الفني والتدريب.</p>
                    <p>ومن أهم الجهات الدولية والأقليمية والمحلية التي يتم التعاون معها: منظمة الصحة العالمية ومنظمة العمل الدولية وجامعة الدول العربية ومجلس السكان العالمى وUNFPA والوزارت والهيئات الحكومية والمحافظات.</p>
                    <p><span>&nbsp; وهناك العديد من الدراسات والتقارير اعدت باستخدام التقنيات والأساليب الحديثة والمتاحة على صفحة المعهد.</span></p>

            </div>
        </div>

    </div>
</section>
