
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            المجلة المصرية للسكان و تنظيم الأسرة
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>
                    هي مجلة محكمة نص سنوية تهتم بقضايا التنمية و السياسات السكانية و ما يتعلق بها



                </h3>
                <a class="btn btn-primary" href="~/media/rols.pdf">لتحميل عدد المجلة برجاء الضغط هنا</a>

            </div>
        </div>

    </div>
</section>
