
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            مكتبة الكلية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>
                    تعريف المكتبة

                </h3>
                <p>
                    تمتلك الكلية فى مبناه العريق مكتبة من المكتبات القيمة على المستوى الإقليمي لما تقتنيه من كنوز ومصادر قيمة وهى متخصصة فى مجال علم الإحصاء وأقسامه الرياضي، والتطبيقي، والسكاني، ومجال علوم الحاسب ونظم المعلومات، وتخصص علم بحوث العمليات، وتعد المكتبة بمثابة المكتبة المركزية لجامعة القاهرة والجامعات المصرية فى هذه التخصصات، حيث تذخر المكتبة بأقدم وأحدث الكتب الأجنبية والعربية فى التخصصات سابقة الذكر، فضلاً عن إقتنائها للمراجع القيمة في تخصصات الرياضيات ، والإقتصاد، والإقتصاد القياسي، والإدارة، ونظم المعلومات الإدارية. وتضم المكتبة العديد من دوائر المعارف والمعاجم القيمة . كما تقتني المكتبة العديد من الدوريات العلمية الأجنبية مما يزيدها تميز فى هذا المجال لتكون مقصداً للباحثين المصريين والعرب فى المجالات المذكورة. وتحتوي المكتبة أيضاً على النشرات التى تصدرها الأجهزة المعنية بالإحصاء داخل الجمهورية وخارجها، فتضم نشرات الجهاز المركزي للتعبئة العامة والإحصاء، ونشرات الأمم المتحدة، والمنظمات الدولية، والإقليمية ، والمحلية. كما تقتني المكتبة رسائل الماجستير والدكتوراة المجازة من الكلية، وتضم المكتبة أيضاً مطبوعات الكلية التى تتمثل فى المجلات العلمية الصادرة من المعهد، ومجلدات المؤتمر الذي ينظمه الكلية سنوياً.

                </p>
                <h3>
                    رسالة مكتبة الكلية

                </h3>
                <p>
                    تدعم المكتبة مهام الكلية وتساعده على تحقيق أهدافه (رسالته) بإعتبار المكتبة شريك حيوي للمؤسسة الأكاديمية تعمل على توفير مصادر المعلومات المتخصصة الحديثة بما يفي إحتياجات موضوعات البحث فى الكلية، ويناسب نطاق المكتبة الإقليمي.



                </p>
                <p>
                    تسعى المكتبة للوفاء برسالتها من خلال تلبية متطلبات البحث العلمي من مصادر المعلومات المختلفه والحديثة لمجتمع التخصص على إختلاف إهتماماته، وتفي بإحتياجات الباحثين من داخل الكلية والجامعة وخارجها. و نشر ثقافة الإحصاء وتطبيقات الحاسب لدعم إتخاذ القرار، ونشر ثقافة الجودة. ودعم دور الكلية والجامعة فى تفعيل وتحقيق المسئولية الإجتماعية والتنمية البيئية من خلال نشر الثقافة العامة والتواصل مع المجتمع بما يساهم فى تفعيل الدور المجتمعي للمكتبة.


                </p>
                <h3>
                    مواعيد المكتبة

                </h3>
                <p>
                    من يوم السبت الى الاربعاء من 9:00 ص الى 3 م


                </p>
               <h3>
                    البحث داخل المكتبة

               </h3>
               <p>
                    <a class="btn btn-primary" href="http://issrconfrence.cu.edu.eg/onlinelibrary/search.aspx">للبحث أضغط هنا</a>
               </p>
               <h3>
                    امتحانات الكلية

               </h3>
               <p>

               </p>
            </div>
        </div>

    </div>
</section>
