
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3{
        margin-top:100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary">تعريف الكليه </a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>رؤية الكلية</h3>
                <p>
                    التميز في الأداء الأكاديمى والمهني لتحقيق الريادة في الدراسات العليا للمجالات الإحصائية والسكانية وعلوم الحاسب ونظم وتكنولوجيا المعلومات وبحوث وادارة العمليات ليكون أحد المنارات العلمية والبحثية والتدريبية طبقاً للمعايير العالمية لرفع مستوى حياة الافراد والمؤسسات والمجتمع.
                </p>
                <h3>
                    رسالة الكلية
                </h3>
                <p>
                    إعداد اجيال وكوادر علمية وبحثية مؤهلة ومتميزة وذات كفاءة ومواصفات تنافسية عالية على المستوى القومى قادرون على اجراء البحوث العلمية والدراسات الأكاديمية والمهنية فى مجالات الاحصاء والسكان وعلوم الحاسب ونظم وتكنولوجيا المعلومات وبحوث وادارة العمليات بما يمكنهم من خدمة المجتمع، وتقديم خدمات التدريب والاستشارات المتميزة.
                </p>
                <h3>
                    الأهداف الاستراتيجية الكلية
                </h3>
                
                <p>تنظيم برامج دراسية (أكاديمية ومهنية) على مستوى الدبلومات والماجستير والدكتوراه من أجل تأهيل وتوجيه خريجي الجامعات والمعاهد العليا في تخصصات ومجالات المعهد والمجالات البينية والابتكارية والادارية العامة وفى ضوء معايير الجودة</p>
                <p>
                    نشر ثقافة الاحصاء وتطبيقات الحاسب ودعم اتخاذ القرار.
                </p>
                <p>
                    تقديم الاستشارات للمؤسسات والأفراد في مجالات الإحصاء والسكان والتنمية وعلوم الحاسب ونظم وتكنولوجيا المعلومات وبحوث ادارة العمليات للمساهمة في خدمة المجتمع.
                </p>
                <p>
                    تقديم الخدمات التدريبية بما يتواكب مع متطلبات سوق العمل.
                </p>
                <p>
                    إجراء الدراسات والبحوث والمسوح في مجالات وتخصصات المعهد المختلفة بهدف خدمة المجتمع.
                </p>
                <p>
                    نشر ثقافة الجودة الشاملة والحصول على الاعتماد الأكاديمي.
                </p>
                <p>
                    تنمية مهارات الطلاب البحثسة للعمل على الابتكار والابداع.
                </p>
                <p>
                    تعظيم دور المعهد فى خدمة البيئة والمجتمع المحلى.
                </p>
                <p>
                    تطبيق تكنولوجيا المعلومات الحديثة فى نظم التعليم.
                </p>
                <h3>
                     :مجالات وتخصصات الكلية المختلفة تشمل

                </h3>
                <p>
                    الإحصاء والسكان والتنمية وعلوم الحاسب ونظم وتكنولوجيا المعلومات وبحوث وإدارة العمليات واتخاذ القرار.

                    لمعرفة كافة البرامج التي يقدمها الكلية برجاء  <a href="javascript:void(0" class="btn btn-primary">أضغط هنا</a>

                </p>
                <h3>
                    الهيكل التنظيمى الإسترشادي لكلية الدراسات العليا للبحوث الاحصائية

                </h3>
                <p>
                    لتحميل التوصيف الوظيفي للكلية برجاء <a href="javascript:void(0" class="btn btn-primary"">أضغط هنا</a>


                </p>
                <h3>
                    الخطة الخمسية للكلية
                </h3>
                <p>
                    لتحميل الخطة الخمسية للكلية برجاء <a href="/media/5thPlan.pdf" class="btn btn-primary" target="_blank">أضغط هنا</a>

                </p>
            </div>
        </div>
        
    </div>
</section>
