
<style>
    .textsize {
        font-size: 25px !important;
    }
</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            ادارة الكلية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
    @*     <div class="row">
            <div class="col-md-5 mb-5">
                <img class="img-fluid w-100" src="~/media/dean2.jpg" alt="teacher" width="445" height="501" asp-append-version="true">
            </div>
            <div class="col-md-6 mb-5">
                <h3>
                    ا.د. سيد خاطر
                </h3>
                <h6 class="text-color mb-5">
                    عميد الكلية
                </h6>
                <div class="row">
                </div>
            </div>
        </div> *@
        <div class="row">
            <div class="col-md-5 mb-5">
                <img class="img-fluid w-100" src="~/media/dressam.jpg" alt="teacher" width="445" height="501" asp-append-version="true">
            </div>
            <div class="col-md-6 mb-5">
                <h3>
                    ا.د.عصام علي امين
                </h3>
                <h6 class="text-color mb-5">
                    عميد الكلية
                </h6>
                <div class="row">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-5">
                <img class="img-fluid w-100" src="~/media/drnagi.jpg" alt="teacher" width="445" height="501" asp-append-version="true">
            </div>
            <div class="col-md-6 mb-5">
                <h3>
                    ا.د.ناجي رمضان درويش
                </h3>
                <h6 class="text-color mb-5">
                    وكيل الكلية لشئون المجتمع والبيئة
                </h6>
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</section>
