
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            اصدارات الكلية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>
                    اهم الاصدارات والدراسات والتقارير



                </h3>
                <p>

                    1-   الرضا الوظيفى لأعضاء هيئة التدريس والهيئة المعاونة والعاملين


                </p>
                <p>
                    2-   التقديرات المستقبلية لأعداد هيئة التدريس ومعاونيهم وطلاب كلية الدراسات العليا للبحوث الاحصائية والمستفيدين من خدماته والإيرادات والمصروفات خلال الفترة 2015/2019



                </p>
                <p>
                    3-   التقديرات المستقبلة لأعداد هيئة التدريس ومعاونيهم والطلاب المقيدين والخريجين الجامعيين وطلاب الدراسات العليا والميزانية التقديرية خلال الفترة 2015/2019



                </p>
                <p>
                    4-   تقرير انجاز الكلية وفقا لمعايير القدرة المؤسسة والفاعلية التعليمية للفصل الدراسى الاول 2014/2015



                </p>
                <p>

                    5-   تقرير انجاز الكلية وفقا لمعايير القدرة المؤسسة والفاعلية التعليمية للفصل الدراسى الثانى2014/2015


                </p>
                <p>
                    6-   تقرير انجاز الكلية وفقا لمعايير القدرة المؤسسة والفاعلية التعليمية للعام الجامعى 2014/2015



                </p>
                <p>
                    7-   تأثير الولاء والرضا الوظيفى وضغوط العمل مع الاداء الوظيفى والفاعلية التنظيمية 2016



                </p>
                <p>

                    8-   دليل الدراسات المهنية


                </p>
                <p>

                    9-   البرنامج التدريبي لعام 2015/2016 و2016/2017


                </p>
                <p>

                    10-    تقرير الاداء المؤسسى للكلية 2016


                </p>
                <p>

                    11-    التقديرات المستقبلية لأعداد هيئة التدريس ومعاونيهم وطلاب جامعة القاهرة خلال الفترة 2016/2020


                </p>
                <p>

                    12-    التقرير الشهري عن أداء العملية التعليمية وانتظامها


                </p>
                <p>

                    13-    تقرير عن المؤتمر السنوي الخمسين 27-30 ديسمبر 2015 مقارنة بالمؤتمر السنوي التاسع والاربعين


                </p>
                <p>
                    14-    تقرير العملية التعليمية للفصل الدراسى الأول 2015/2016



                </p>
                <p>

                    15-    تقرير العملية الادارية للعام الدراسى 2015/2016


                </p>
                <p>

                    16-    تقرير تقييم أثر التدريب وتقدير الاحتياجات التدريبية


                </p>
                <p>

                    17-    تقرير العملية التعليمية "نتائج الطلاب ورضاهم" للفصل الدراسى الأول 2015/2016


                </p>
                <p>
                    18-    الخطة البحثية لكلية الدراسات العليا للبحوث الاحصائية  2015-2020



                </p>
                <p>
                    19-    تقرير أداء قيادات الكلية: من وجهة نظر أعضاء هيئة التدريس 2016/2017



                </p>
                <p>
                    20-    تقرير العملية التعليمية "نتائج الطلاب ورضاهم" للفصل الدراسى الأول 2016/2017 مقارنة بالفصل الدراسى الأول 2015/2016



                </p>
                <p>
                    21-    تقويم أثر جودة الخدمات التعليمية على رضى طلاب كلية الدراسات العليا للبحوث الاحصائية جامعة القاهرة


                </p>
            </div>
        </div>

    </div>
</section>
