
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

    span{
        font-size:20px;
    }


</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            خريطة الكلية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>
                    مبانى الكلية

                </h3>
                    <p><span>عنوان الكلية:</span></p>
                    <p><span>جامعة القاهرة – كلية الدراسات العليا للبحوث الإحصائية (5 ) شارع د.أحمد زويل (ثروت سابقا) - الأورمان –الدقى- الجيزة- جمهورية مصر العربية (ج.م.ع).</span></p>
                    <p><span>تتكون مباني&nbsp;الكلية مما يلي:</span></p>
                    <p><span>أولا: المبني الرئيسى:</span><span> ويتكون من عدة طوابق هي:</span></p>
                    <p><span>1 . الطابق الأول:</span></p>
                    <p><span>وبه مكاتب العاملين وإستراحه للساده أعضاء هيئة التدريس والعاملين وقاعة الدكتور/ حسن حسين للمؤتمرات. </span></p>
                    <p><span>2. الطابق الثاني:</span></p>
                    <p><span>وبه مكتب الأستاذ الدكتور/ عميد الكلية ومكاتب بعض السادة أعضاء هيئة التدريس والمدرجات أرقام &nbsp;(4، 5، 6) والمعامل (1، 2، 3).</span></p>
                    <p><span>3. الطابق الثالث:</span></p>
                    <p><span>وبه مكتبة الكلية- مكتب الأستاذ الدكتور/ وكيل الكلية لشئون خدمة المجتمع وتنمية البيئة - مكتب الأستاذ الدكتور / وكيل المعهد لشئون الدراسات العليا والبحوث- قاعة إجتماعات مجلس الكلية.</span></p>
                    <p><span>4. الطابق الرابع:</span></p>
                    <p><span>وبه مكاتب بعض السادة أعضاء هيئة التدريس- المدرجات أرقام (7 ، 8 ) – معمل حاسب آلي- مكتب منسق البرامج المهنية.</span></p>
                    <p><span>5. الطابق الخامس:</span></p>
                    <p><span>وبه المدرجات أرقام ( 9 ، 10 ) ومكاتب بعض السادة أعضاء هيئة التدريس والسادة المدرسين المساعدين والمعيدين وكذلك معامل حاسب آلي لوحدة المعمل الإحصائي.</span></p>
                    <p><span>ثانيا</span><span>:</span><span>مبني الشافعى:</span></p>
                    <p><span>ويتكون من قاعة الدكتور/ عبد المنعم ناصر الشافعي ومدرجات وقاعات ومخازن الكلية.</span></p>
                    <p><span>ثالثا</span><span>:</span><span>المبنى الجديد:</span></p>
                    <p><span>ويتكون من&nbsp;</span><span>مركز الدراسات والإستشارات الإحصائية والقياسية- مركز التطبيقات الديموجرافية وتنمية الموارد البشرية- مركز البرمجيات والإستشارات المعلوماتية، بالإضافة إلى الوحدة الحسابية بالكلية.</span></p>
                    <p><span>رابعا: </span><span>ملحقات الكلية</span><span>:</span></p>
                    <p>- وحدة ضمان الجودة.</p>
               
            </div>
        </div>

    </div>
</section>
