
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            مواثيق التعامل داخل الجامعة
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
             
                <a class="btn btn-primary" href="~/media/mesak-emp.pdf">مدونة سلوك الوظيفة العامة داخل الجامعة</a>

                <a class="btn btn-primary" href="javascript:void(0)">ميثاق الطالب الجامعى</a>


            </div>
        </div>

    </div>
</section>
