
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            مؤتمرات الكلية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>
                    مؤتمرات الكلية


                </h3>
                <p>
                    تشرف كلية الدراسات العليا للبحوث الاحصائية بجامعة القاهرة بدعوة سيادتكم للحضور والمشاركة بالمؤتمر السنوى الدولى الخامس والخمسين لعلوم البيانات فى الفترة من 5-7 ديسمبر 2022 ويشارك فيه نخبة من الأساتذة الأفاضل والمختصين في علوم البيانات ومرفق لسيادتكم محاور وأهداف المؤتمر للاطلاع .


                </p>
              <p>
                    يهدف المؤتمر لنشر الأبحاث العلمية المقبولة فى تخصصات المؤتمر المختلفة. التواصل البحثى عالمياً بدعوة أساتذة أجانب أو مصريين عاملين فى الخارج لعرض أحدث القضايا فى تخصصاتهم. تفعيل الشراكة البحثية بين الكلية والمؤسسات الوطنية والعربية والدولية العاملة فى مجالات تخصص الكلية. إبراز أثر تداعيات الأزمة المالية العالمية على الاقتصاد والعمالة ومعدلات الفقر فى جمهورية مصر العربية.للانتقال الى موقع مؤتمر الكلية


              </p>

            </div>
        </div>

    </div>
</section>
