
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary">قطاع خدمة المجتمع</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>
                    اختصاصات قطاع شئون خدمة المجتمع

                </h3>
                <p>
                    -  الاشراف على اعداد الخطط و البرامج التى تكفل تحقيق دور المعهد فى خدمة المجتمع و تنمية البيئة

                </p>
                <p>
                    -  الاشراف على شئون الوحدات ذات الطابع الخاص بالكلية و التى تقدم خدماتها أو بعض خدماتها لغير الطلاب


                </p>
                <p>
                    -   الاشراف على منشأت المعهد التى تقدم خدماتها لغير الطلاب

                </p>
                <p>
                    -   اعداد برامج التدريب المهنى و الفنى للجمهور

                </p>

                <p>
                    -    تنظيم المؤتمرات و الندوات العلمية و المحاضرات العامة التى تستهدف خدمة المجتمع و تنمية البيئة


                </p>
                <p>
                    -    الاشراف على أجراء البحوث التطبيقية التى تجريها  المعهد لحساب الشركات و الجهات الاخرى فى الداخل او فى الخارج


                </p>
                <p>
                    -  اعداد التقارير و التوصيات للمؤتمرات العلمية المعهد بالنسبة لخدمة المجتمع  و ابلاغها لنائب رئيس الجامعة لشئون خدمة المجتمع و تنمية البيئة


                </p>
                <p>
                    -    تنفيذ قرارت المجلس الاعلى للجامعات و مجلس الجامعة و مجلس خدمة المجتمع و تنمية البيئة فيما يتعلق بشئون خدمة المجتمع و تنمية البيئة


                </p>

            </div>
        </div>

    </div>
</section>
