
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            مركز الاستشارات الاحصائية والقياسية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <p>
                    1- اقتراح و تصميم الدراسة :يعتبر مركز الدراسات والاستشارات الاحصائية والقياسية احدى مراكز كلية الدراسات العليا للبحوث الاحصائية , جامعة القاهرة والتى تم إنشاؤه عام 1994. يقدم المركز خدمات إحصائية إلى أعضاء هيئة التدريس والباحثين والطلاب وخريجى الجامعات.كما يقدم المركز خدمات استشارية احصائية شاملة ومتكاملة, والتى تغطى كل المجالات بدءاً بالمشروع البحثى من حيث تصميم الدراسة الأولية للمشروع إلى تقديم الاستنتاجات النهائية للبحث. بمعنى أكثر تحديداً ، يعرض مركز الدراسات والاستشارات الاحصائية والقياسية الخدمات التالية:

                    يقدم مركز الدراسات و الاستشارات الاحصائية والقياسية خدمات استشارية للموضوعات الاحصائية فى جميع المجالات العلمية. تتضمن تصميم و طرق المعاينة وتحديد حجم العينة, واختيار الطرق الاحصائية المناسبة ، والمركز يشجع الباحثين للاتصال به مبكرا فى عملية تخطيط البحث وتصميم الدراسة الكمية له. والاستشارة تتضمن الحسابات التى تساعد فى تحديد حجم العينة لانجاز الدرجات المختلفة من الدقة لمقدرات العينة. والبرامج اللازمة لحساب حجم العينة متوفرة أيضا في المركز للاستخدام من قبل العملاء.

                    2- الاستشارة المتعلقة بالبيانات :

                    يقدم مركز الدراسات والاستشارات الاحصائية والقياسية استشارات لتصميم وادارة قواعد  البيانات, بالاضافة الى تحويل البيانات عبر البرامجِ المختلفة ( مثال ذلك:من برنامج SPSS الى برنامج  SAS).

                    3- اختيار الطرق الاحصائية :

                    يقدم مركز الدراسات والاستشارات الاحصائية والقياسية خدمات استشارية لإختيارالطرق الاحصائية المناسبة.

                    4- إستخدام البرامجِ الاحصائية :

                    يساعد مركز الدراسات والاستشارات الاحصائية والقياسية الباحثين  فى اجراء التحليل الاحصائى باستخدام واحد أو أكثر من البرامج الإحصائية المشهورة وتتضمن:

                    SPSS, MiniTab, EVIEWS , MATHCAD,   and AMOS.

                    5- تفسير النتائج:

                    يساعد مركز الدراسات والاستشارات الإحصائية والقياسية الباحثين فى تفسير النتائج الاحصائية المختلقة وفى الوصول إلى الاستنتاجات المبررة وبشكل إحصائى.

                    6- تقديم وعرض النتائج:

                    يقوم مركز الدراسات والاستشارات الإحصائية والقياسية بتقديم الإرشادات اللازمة فى كيفية عرض نتائج التحليلات الاحصائية، وكذلك العرض الهيكلي للبيانات.
                </p>
                <h3>
                    رؤية المركز

                </h3>
                <p>
                    التميز فى الأداء الأكاديمى والمهنى لتحقيق الريادة فى مجالات التدريب والاستشارات الإحصائية والقياسية  ليكون إحدى المنارات العلمية والبحثية للإرتقاء بمستوى أداء الباحثين طبقاً للمعايير المحلية والعالمية.

                </p>
                <h3>
                    رسالة المركز

                </h3>
                <p>
                    إعداد كوادر علمية مؤهلة ومتميزة فى مجالات مجالات التدريب والاستشارات الإحصائية والقياسية بحيث تكون قادرة على مواكبة متطلبات العصر الحديث وبما يؤهل الباحثين علمياً وعملياً على المستوى المحلى والخارجى.



                </p>
                <h3>
                    أهداف المركز

                </h3>
                <p>
                     يهدف المركز الى تهيئة سبل التواصل بين المهتمين بمجالات العلوم الاحصائية والاقتصادية المختلفة من خلال عقد دورات تدريبية وتقدم الاستشارات والدراسات العلمية والتطبيقية للقطاعات العامة والخاصة وكذلك لدعم وتعزيز التعاون بين الباحثين فى الجامعات المصرية والعربية .



                </p>
                <p>
                    - تنمية الفكر العلمي فى مجال العلوم الاحصائية والعمل على تطوير فى خدمة المجتمع.


                </p>
                <p>
                    - تقديم الخدمات التعليمية والتدريبية والتى تعتمد على الحاسب وتقنيات المعلومات.


                </p>
                <p>
                    - تحقيق التواصل العلمي لاعضاء هيئة التدريس والعمل على مد الجسور بين الجامعات  والمجتمع.


                </p>
                <p>
                    - تنظيم ندوات وحلقات بحث ودورات تدريبية فى جميع المجالات الاحصائية.



                </p>
                <p>
                    - تنمية قدرات ومهارات الافراد العاملين بجميع الجهات من خلال تقديم برامج تدريبية متميزة لهم.


                </p>
                <p>
                    - تيسير التبادل العلمي في مجالات الإحصاء من خلال بين الهيئات والمؤسسات  العلمية داخل مصر وخارجها.


                </p>
                <h3>
                    نشاط المركز

                </h3>
                <p>
                    - التعريف بالتخصص وإثراء الثقافة الاحصائية وتنوير المجتمع وتزويدة المجتمع بجرعات من المفاهيم الاحصائية وازاحة الستار عن نوع من الامية الاحصاء



                </p>
                <p>
                    - تقديم الاستشارات العلمية فى مجال الاحصاء للجهات ذات العلاقة بالاحصاء فى مصر وخارجها.


                </p>
                <p>
                    - العمل على الاهتمام بتدريس العلوم الاحصائية عن طريق التنسيق والتعاون مع الجهات والمؤسسات المعنية بذلك.


                </p>
               
                <p>
                    - تشجيع اجراء البحوث وتنشيط البحث العلمي  فى مجال العلوم الاحصائية وتبادلها مع الهيئات العلمية.


                </p>
                <p>
                    - توثيق العلاقة بين العاملين فى مجال العلوم الاحصائية وتطبيقاتها عن طريق عقد ندوات وحلقات دراسية ودورات.


                </p>
              
                <p>
                    - المشاركة فى المؤتمرات العلمية المحلية والإقليمية والدولية.


                </p>
                <p>
                    - دعوة العلماء والمفكرين من ذوي الخبرة  بالمجال الاحصائي للمشاركة فى انشطة المركز المختلفة.


                </p>
                <h3>
                    امكانات مركز الاستشارات الاحصائية والقياسية

                </h3>
                <p>
                    1)     فريق عمل متخصص من أعضاء هيئة التدريس والخبراء بالجامعات المصرية والمراكز العلمية المتخصصة .


                </p>
                <p>
                    2)    يحتوى المركز على عدد وفير من أجهزة الحاسب الشخصي، تحتوى كل منها على البرامج الإحصائية والرياضية الجاهزة.


                </p>
                <h3>
                    انجازات مركز الاستشارات الاحصائية والقياسية

                </h3>
                <table border="1" style="width: 95%; border-collapse: collapse; text-align: center;">
                    <tbody>
                        <tr style="background-color: #d3d3d3;">
                            <td>
                                <p><strong>السنوات</strong></p>
                            </td>
                            <td>
                                <p><strong>عدد الاستشارات</strong></p>
                            </td>
                            <td>
                                <p><strong>الايرادات</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>2011</strong></p>
                            </td>
                            <td>
                                <p><strong>242</strong></p>
                            </td>
                            <td>
                                <p><strong>110275</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>2012</strong></p>
                            </td>
                            <td>
                                <p><strong>218</strong></p>
                            </td>
                            <td>
                                <p><strong>126400</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>2013</strong></p>
                            </td>
                            <td>
                                <p><strong>237</strong></p>
                            </td>
                            <td>
                                <p><strong>160900</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>2014</strong></p>
                            </td>
                            <td>
                                <p><strong>285</strong></p>
                            </td>
                            <td>
                                <p><strong>221400</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>31/10/2015</strong></p>
                            </td>
                            <td>
                                <p><strong>246</strong></p>
                            </td>
                            <td>
                                <p><strong>222450</strong></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>
