
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            وحدة ادارة الازمات والكوارث
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>
                    كلية الدراسات العليا للبحوث الاحصائية – جامعة القاهرة



                </h3>
                <p>
                    الرؤية:  الحفاظ على الآمن والسلامة والصحة العامة للأفراد وأيضاً الحفاظ على سلامة المبانى والأجهزة والممتلكات بجميع أقسام الكلية التعليمية والإدارية.


                </p>
                <p>
                    الرسالة: العمل على ضمان الآمن والسلامة والصحة العامة للأفراد ( أعضاء هيئة التدريس والهيئة المعاونة لها- الطلاب - العاملين من إداريين وعمال- الزوار والضيوف) والحرص على سلامة المباني والأجهزة والممتلكات بالكلية ومجابة الأزمات والكوارث.



                </p>
                 <h3>
                    المهام
                 </h3>
                <p>
                    1-  التخطيط لإدارة  الأزمات والكوارث المتوقع حدوثها وإعداد الخطط والسيناريوهات للمواجهة وإتخاذ الإجراءات الوقائية لمنع أو إحتواء الأزمة أو الكارثة والإستعداد للتعامل مع أى أزمة أوكارثة كتدريب الأفراد ،صيانة المعدات ،نشر الوعى الثقافى، عقد ورش العمل التدريبية ، وتطوير آليات الرصد  والأنذار المبكر وكذالك تجهيز غرفة عمليات لإدارة الأزمات والكوارث مزودة بأحدث وأسرع وسائل الإتصال.


                </p>

                <p>
                    2- تنفيذ الخطط والسناريوهات التى تم إعدادها وتنفيذ أعمال المواجهة والإغاثة بأنواعها المختلفة ، والقيام بأعمال خدمات الطوارىء العاجلة، وتنفيذ عمليات الإخلاء السريع عند الضرورة،  والوقوف على تطورات الأحداث بشكل مستمر وكذلك تقييم وتحديث الإجراءات المناسبة من خلال غرفة العمليات.


                </p>
                <p>
                   3- حصر الخسائر فى الأفراد والمنشأت والتأهيل وإعادة البناء،  ووضع أساليب للحماية من الأخطار المستقبلية المحتملة، وتقييم الإجراءات التى تمت والخروج منها بالدروس المستفادة، وتوثيق الحدث باٌضافة إلى تقديم التوصيات والمقترحات اللأزمة للجهات المعنية مع تطوير وتحديث الخطط وفقاً للمستجدات.


                </p>
            </div>
        </div>

    </div>
</section>
