
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            مركز التطبيقات الديموجرافية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>
                    اولا: التعريف بالمركز



                </h3>
                <p>
                    بدأ المركز نشاطه عام 1988 كوحدة تابعة لقسم الإحصاء الحيوي والسكاني بكلية الدراسات العليا للبحوث الاحصائية بجامعة القاهرة إلى أن أصبح مركزا علميا مستقلا ليمارس نشاطه كمركز إقليميي لتحليل وتقييم البيانات فى المجالات السكانية والصحية وتنمية الموارد البشرية اعتبارا من 1993 .


                </p>
                <h3>
                    ثانيا: أنشطة المركز :


                </h3>
                <p>
                    1)   تخطيط وإجراء البحوث فى المجالات السكانية والصحية وتنظيم الأسرة وتخطيط وتنمية الموارد البشرية .


                </p>
                <p>
                    2)  تنفيذ الدورات التدريبية فى مجالات السكان وتخطيط وتنمية الموارد البشرية ومتطلباتها فى المجالات الإحصائية والأساليب الكمية واستخدامات الحاسب وغيرها من الدورات .


                </p>
                <p>
                    3)   تقديم الاستشارات فى مجال السكان وتخطيط وتنمية الموارد البشرية ومتطلباتها فى المجالات الإحصائية ونظم المعلومات .


                </p>
                <p>
                    4)   عقد واستضافة حلقات العمل والندوات المتخصصة .


                </p>
                <p>
                    5)   التعاون مع الهيئات الدولية والأجنبية والمحلية .


                </p>
                <p>
                    6)   يقدم المركز خدمة استخدام الحاسب والانترنت وإمكانيات التصوير والطباعة بأسعار رمزية للطلبة.

                </p>
                <h3>
                    برنامج التدريب السكانى فى التنمية البشرية:


                </h3>
                <p>
                    1)   السياسات والاستراتيجيات والخطط السكانية .


                </p>
                <p>
                    2)   خصائص السكان وآثارها فى تحديد حجم المرافق والخدمات العامة.


                </p>
                <p>
                    3)   التحضر وتخطيط وتطوير المناطق الريفية.


                </p>
                <p>
                    4)   التخطيط والتنمية الإقليمية والمحلية.


                </p>
                <p>
                    5)    برنامج الاسقاطات السكانية والقطاعية باستخدام حزمة برنامج الطيف SPECTRUM


                </p>
            </div>
        </div>

    </div>
</section>
