@model DiplomasSectionsViewModel


<style>
    .addmargin {
        margin-top: 70px;
    }


    .textcolor {
        color: black !important;
    }

    .textsize {
        font-size: 18px !important;
    }

    .diplomawrapper {
        display: none;
        margin-top: 40px;
    }

    .masterwrapper {
        display: none;
        margin-top: 40px;
    }

    .doctorwrapper {
        display: none;
        margin-top: 40px;
    }

    .showwrapper {
        display: block;
    }

    th {
        text-align: center;
        vertical-align: middle !important;
        font-size: 18px;
    }

    td {
        text-align: center;
        vertical-align: middle !important;
        font-size: 17px;
        padding: 2px !important;
    }

    .table td p {
        font-size: 16px !important;
        line-height: 1 !important;
    }

    .imgwrapper {
        text-align: center;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            المجلة المصرية للسكان وتنظيم الاسرة
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm" style="padding-left: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 imgwrapper">
                <img src="~/media/caver.jpg" class="img-fluid w-100" width="1125" height="563" asp-append-version="true">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4">
                <h3>
                    المجلة المصرية للسكان وتنظيم الاسرة

                </h3>
                <p>
                    <a class="btn btn-primary" href="https://mskas.journals.ekb.eg">https://mskas.journals.ekb.eg</a>
                </p>
                <p class="textcolor">
                    (المجلة تنشر الابحاث باللغه العربية فقط)

                </p>
                <p class="textcolor">
                    المجلة المصرية للسکـان وتنظيم الأسرة هي مجلة محکمة، تصدرها کلية الدراسات العليا للبحوث الإحصائية، جامعة القاهرة، تهدف إلى تشجيع العلماء على نشر أبحاثهم التجريبية والنظرية في جميع مجالات العلوم الإحصائية والسکانية ومجالات المعرفة ذات الصلة والمکتوبة باللغة العربية. تصدر المجلة في مجلدات سنوية تتکون من عددين يتم اصدارهما في شهري يونيو وديسمبر.


                </p>
            </div>
        </div>
    </div>
</section>

