@model DiplomasSectionsViewModel


<style>
    .addmargin {
        margin-top: 70px;
    }


    .textcolor {
        color: black !important;
    }

    .textsize {
        font-size: 18px !important;
    }

    .diplomawrapper {
        display: none;
        margin-top: 40px;
    }

    .masterwrapper {
        display: none;
        margin-top: 40px;
    }

    .doctorwrapper {
        display: none;
        margin-top: 40px;
    }

    .showwrapper {
        display: block;
    }

    th {
        text-align: center;
        vertical-align: middle !important;
        font-size: 18px;
    }

    td {
        text-align: center;
        vertical-align: middle !important;
        font-size: 17px;
        padding: 2px !important;
    }

    .table td p {
        font-size: 16px !important;
        line-height: 1 !important;
    }

    .imgwrapper {
        text-align: center;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            المجلة الاحصائية المصرية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm" style="padding-left: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 imgwrapper">
                <img src="~/media/caver-2.jpg" class="img-fluid w-100" width="1125" height="563" asp-append-version="true">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4">
                <h3>
                    The Egyptian Computer Journal



                </h3>
                <p>
                    <a class="btn btn-primary" href="https://esju.journals.ekb.eg">https://esju.journals.ekb.eg</a>
                </p>
                <p class="textcolor">
                    (المجلة تنشر الابحاث باللغه الانجليزية فقط)


                </p>
                <p class="textcolor">
                    The Egyptian Computer Journal is published biannually by the faculty of graduate studies for statistical research, Cairo University. It is devoted to theoretical and applied research in the field of computer and information sciences. A limite number of pertinent reviews and theoretical articles, result of symposia and conferences and comprehensive studies can be accepted for Publication.(Article are published in English Language)


                </p>
            </div>
        </div>
    </div>
</section>

