@model DiplomasSectionsViewModel


<style>
    .addmargin {
        margin-top: 70px;
    }


    .textcolor {
        color: black !important;
    }

    .textsize {
        font-size: 18px !important;
    }

    .diplomawrapper {
        display: none;
        margin-top: 40px;
    }

    .masterwrapper {
        display: none;
        margin-top: 40px;
    }

    .doctorwrapper {
        display: none;
        margin-top: 40px;
    }

    .showwrapper {
        display: block;
    }

    th {
        text-align: center;
        vertical-align: middle !important;
        font-size: 18px;
    }

    td {
        text-align: center;
        vertical-align: middle !important;
        font-size: 17px;
        padding: 2px !important;
    }

    .table td p {
        font-size: 16px !important;
        line-height: 1 !important;
    }

    .imgwrapper {
        text-align: center;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            المجلة الاحصائية المصرية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm" style="padding-left: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 imgwrapper">
                <img src="~/media/caver-2.jpg" class="img-fluid w-100" width="1125" height="563" asp-append-version="true">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4">
                <h3>
                    المجلة الاحصائية المصرية


                </h3>
                <p>
                    <a class="btn btn-primary" href="https://esju.journals.ekb.eg">https://esju.journals.ekb.eg</a>
                </p>
                <p class="textcolor">
                    (المجلة تنشر الابحاث باللغه الانجليزية فقط)


                </p>
                <p class="textcolor">
                    The Egyptian statistical Journal is a peer-reviewed Journal, Published on behalf of faculty of graduate studies for statistical research, Cairo University, aims to encourage scientists to publish their experimental and theoretical research in all fields of statistical and population sciences and related knowledge fields. It published in annual volumes, which consists of two issues published in June and December.

                </p>
            </div>
        </div>
    </div>
</section>

