
<style>
    .textsize {
        font-size: 25px !important;
    }
</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            أعضاء هية التدريس المكرمون من الدولة
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-5">
                <img class="img-fluid w-100" src="~/media/profabdelmeniemshafee.jpg" alt="teacher" width="445" height="501" asp-append-version="true">
            </div>
            <div class="col-md-6 mb-5">
                <h3>
                    الأستاذ الدكتور/ عبد المنعم ناصر الشافعى

                </h3>
                <h6 class="text-color mb-5">
                    مؤسس المعهد

                </h6>
                <p>دكتوراه الفلسفة فى الإحصاء – جامعة برمنجهام 1933</p>

                <p>دكتوراه الفلسفة فى الإحصاء – جامعة برمنجهام  أول من ادخل مادة الإحصاء فى مصر لتدريسها فى الجامعات المصرية</p>

                <p>دكتوراه الفلسفة فى الإحصاء – جامعة برمنجهام  حاصل على جائزة الدولة التقديرية فى العلوم عام 1973</p>

                <p>دكتوراه الفلسفة فى الإحصاء – جامعة برمنجهام  منح رئيس الجمهورية  لسيادته وسام الاستحقاق من الطبقة الاولى عام 1975.</p>

                <p>دكتوراه الفلسفة فى الإحصاء – جامعة برمنجهام  منح رئيس الجمهورية  لسيادته وسام العلوم والفنون عام 1979 .</p>

                <p>دكتوراه الفلسفة فى الإحصاء – جامعة برمنجهام  منح رئيس الجمهورية  لسيادته وسام العلوم والفنون من الطبقة الأولى عام 1983.</p>
                <div class="row">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-5">
                <img class="img-fluid w-100" src="~/media/profhassanhussain.jpg" alt="teacher" width="445" height="501" asp-append-version="true">
            </div>
            <div class="col-md-6 mb-5">
                <h3>
                    الأستاذ الدكتور/ حسن محمد حسين

                </h3>
                <h6 class="text-color mb-5">
                    عميد المعهد من 1963 - 1967

                </h6>
                <p>دكتوراه الفلسفة فى علم النفس الإحصائي – جامعة ليـدز 1950</p>

                <p> حاصل على وسام الجمهورية من الطبقة الثالثة عام 1955.دكتوراه الفلسفة فى علم النفس الإحصائي – جامعة ليـدز 1950</p>
                <div class="row">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-5">
                <img class="img-fluid w-100" src="~/media/profahmedebadasarhan.jpg" alt="teacher" width="445" height="501" asp-append-version="true">
            </div>
            <div class="col-md-6 mb-5">
                <h3>
                    الأستاذ الدكتور/ احمد عباده سرحان

                </h3>
                <h6 class="text-color mb-5">
                    عميد المعهد من 1967 - 1975

                </h6>
                <p> عميد المعهد من 1967 - 1975</p>

                <p>  دكتوراه الفلسفة فى الإحصاء – جامعة نورث كارولينا 1955</p>

                <p> حاصل على جائزة الدولة التشجيعية في العلوم الرياضية عام 1957.</p>

                <p>حاصل على وسام العلوم والفنون من الطبقة الأولى عام 1957.</p>

                <p> حاصل على جائزة الدولة التشجيعية فى العلوم الرياضية عام 1960.</p>

                <p> حاصل على وسام العلوم والفنون من الطبقة الأولى عام 1960.</p>

                <p> حاصل على وسام الجمهورية من الطبقة الثانية عام 1980</p>

                <p> حاصل على جائزة الدولة التقديرية فى العلوم عام 1986.</p>

                <p> حاصل على وسام الاستحقاق عام 1986.</p>


                <div class="row">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-5">
                <img class="img-fluid w-100" src="~/media/profsad-shayaal.png" alt="teacher" width="445" height="501" asp-append-version="true">
            </div>
            <div class="col-md-6 mb-5">
                <h3>
                    الأستاذ الدكتور/ سعد الدين محمد الشيال


                </h3>
                <h6 class="text-color mb-5">
                    عميد المعهد من 1975 - 1981


                </h6>
                <P>  عميد المعهد من 1975 - 1981</P>

                <P>  دكتوراه الفلسفة فى الإحصاء التطبيقى – جامعة أكسفورد - انجلترا 1960</P>

                <P>  حاصل على وسام الاستحقاق من الطبقة الرابعة عام 1963.</P>

                <P>  حاصل على وسام الجمهورية من الطبقة الثانية عام 1983.</P>


                <div class="row">
                </div>
            </div>
        </div>
    </div>
</section>
