
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            مركز البرمجيات والاستشارات المعلوماتية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>
                    رؤية المركز

                </h3>
                <p>
                    تميز الأداء في مجال البرمجيات وقواعد البيانات للإرتقاء بمستوي صناعة البرمجيات بما يتناسب و حاجات المستفيدين من البرامج وقواعد البيانات محليا وإقليميا في ظل معايير الجودة المحلية
                </p>
              <h3>
                    رسالة المركز

              </h3>
              <p>
                    انتاج برامج وقواعد بيانات عالية  الجودة تضمن توفير الوقت والجهد كما تضمن سهولة الاستخدام والتطوير و تنفيذ ومتابعة تلك البرامج بالإضافة إلي تعزيز التدريب في مجال قواعد البيانات والبرمجيات بما يحقق  رسالة كلية الدرسات العليا للبحوث الاحصائية وحاجات سوق العمل


              </p>
                <h3>
                    أهداف المركز

                </h3>
                <p>
                    - تقديم الإستشارات في مجال قواعد البيانات والبرمجيات.

                </p>
                <p>
                    - خلق وعي عام بنظم المعلومات والبرمجيات بما يتفق مع رؤية ورسالة الكلية واهدافه.

                </p>
                <p>
                    - عمل الأبحاث لصالح الجهات المحلية و الإقليمية والدولية.

                </p>
                <p>
                    - تصميم البرمجيات الخاصة بالمؤسسات والمنظمات والشركات.

                </p>
                <p>
                    - تصميم وتطوير المواقع علي شبكة الإنترنت للمؤسسات والأشخاص.

                </p>
                <p> 
                    - تصميم وتطوير مواقع التعليم الألكتروني للمؤسساتالتعليمية.

                </p>
                <p>
                    - تصميم النظم اللازمة لكي يتم العمل داخل المؤسسة باستخدام الحواسب وتدريب الأفراد داخل المؤسسة علي استخدامها

                </p>
                <h3>
                    ورش عمل المركز

                </h3>
                <p>
                    -  اقام مركز البرمجيات والاستشارات المعلوماتية ورشة عمل لاعضاء هيئة التدريس وذلك من اجل التعريف بمنظومة الامتحانات الالكترونية الجديدة


                </p>
                <p>
                    - ورشة عمل بعنوان " الجيل الثاني من المكتبات وشبكات التواصل الإجتماعي"  /  “Library 2.0 and Social Networks"   موجهه للعاملين  بالمكتبه.

                </p>
                <p>
                    - سيمينار   "البرمجه ب لغة ال R " /       R  Programming موجهه للسادة المعيدين والأساتذة المساعدين بالمعهد .

                </p>
                <h3>
                    إمكانات المركز

                </h3>
                <p>
                    - يستعين المركز بخبرات اعضاء هيئة التدريس في الكلية وفي الجامعة ومن خارجها أيضاً، كما يستعين بمن يراه من أعضاء الهيئة المعاونة.

                </p>
                <p>
                    - يستعين  المركز بالمعامل والقاعات الدراسية المجهزة والتجهيزات الكثيرة المتوفرة بالكلية و المركز

                </p>
                <h3>
                    التواصل مع المركز

                </h3>
                <p>
                    - العنوان : 5 ش د.احمد زويل – (ثروت سابقا)  الاورمان - الجيزة   ص.ب : 12613

                </p>
                <p>
                    - فاكس  :  +(202)  37482533

                </p>
                <p>
                    - البريد الالكترونى:dsrc@cu.edu.eg

                </p>
            </div>
        </div>

    </div>
</section>
