
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

    span{
        font-size:20px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            الادارة السابقة للكلية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>
                    اولاً: عمداء الكلية

                </h3>
                <table class="table table-bordered" style="margin-left: auto; margin-right: auto;">
                    <tbody>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>1 – أ.د عبد المنعم ناصر الشافعي (مؤسس الكلية)</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1947</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>2 – أ.د محمـد زكـى شافعي (مشرفاُ على الكلية)</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1962 - 1963</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>3 – أ.د حسـن محمـد حسيـن</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1963- 1967</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>4 – أ.د أحمـد عبـاده سرحـان</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1967 - 1975</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>5 – أ.د سعد الدين &nbsp;محمـد الشيال</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1975 - 1981</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>6 – أ.د أحمـد حسـن &nbsp;الموازينى</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1981- 1983</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>7 – أ.د عبد المجيد مصطفى فراج</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1983 - 1988</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>8 – أ.د محمـود رياض &nbsp;محمـود</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1988 - 1994</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>9 – أ.د إبراهيم &nbsp;فرج عبد الرحمن</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1994 -2000 </span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>10- أ.د محمـود رياض &nbsp;محمـود</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>2000 - 2003 </span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>11- أ.د عبد الغني محمد عبد الغني</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>2003 - &nbsp;2005</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>11- أ.د إلهام &nbsp;شكري محمد سعيد</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>2005 &nbsp;- 2008</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>12- أ.د محمد نجيب &nbsp;عبـد الفتاح</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>2008 - &nbsp;2011</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>13- أ.د سيد مشـعال السيـــد</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>2011 - 2014</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>14- أ.د عبد الحميد محمد العباسى</span></p>
                                <p dir="rtl"><span>15- أ.د السيد محمد السيد خاطر</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>2014 &nbsp;-2017</span></p>
                                <p dir="ltr"><span>2017 - 2024</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>16- أ.د عصام علي أمين</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>2024 - حتي تاريخه</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>
                    ثانياً : وكلاء الكلية لشئون الدراسات العليا والبحوث


                </h3>
                <table class="table table-bordered" style="margin-left: auto; margin-right: auto;">
                    <tbody>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>1- أ.د سعد الدين &nbsp;محمد الشيال</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1972 – 1975</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>2 - أ.د أحمد حسن الموازينـى</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1977 ـ 1981</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>3- أ.د شفيـق &nbsp;اسكندر صليب</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1981 – 1983</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>4- أ.د عاطـف &nbsp;محمـد خليفة</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1985 – 1988</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>5- أ.د سميـر كامـل &nbsp;عاشور</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1988 – 1994</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>6- أ.د ربيع &nbsp;زكى حفنى عامر</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1994 – 1996</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>7- أ.د غزال عبد العزيز عامر</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>1996-2002</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>8- أ.د حجـازى محمـد زاهر</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>‏‏ 2002- 2003</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>9- أ.د الهام شكرى محمد سعيد</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>2003 ـ 2003</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>10- أ.د احمد فؤاد محمد عطية</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>2003 ـ 2009</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>11- أ.د سيد مشعال تاج الدين</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>2009 </span><span>ـ 2011</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>12- أ.د احمد فؤاد محمد عطية</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>2011 – 2012</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>13- أ.د احمد حسن احمد يوسف</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>2012 ـ 2013</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>14- أ.د عبد الحميد محمد العباسى</span></p>
                                <p dir="rtl"><span>15ـ أ.د هشام أحمد حفنى</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>2013 ـ 2014 </span></p>
                                <p dir="rtl"><span>2014 - 2021</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>16ـ أ.د السيد الشربيني</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>2021 - 2022</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td dir="ltr">
                                <p dir="rtl"><span>17ـ أ.د عصام علي أمين</span></p>
                            </td>
                            <td dir="ltr">
                                <p dir="rtl"><span>2022 - 2024</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>
                    ثالثاً : وكلاء الكلية لشئون خدمة المجتمع وتنمية البيئة
                </h3>
                <table class="table table-bordered" style="margin-left: auto; margin-right: auto;">
                    <tbody>
                            <tr>
                                <td>
                                <p dir="rtl"><span>أ.د الهام شكرى محمد &nbsp;سعيد</span></p>

                                </td>
                                <td>
                                <p dir="rtl"><span>1994 – 2000 </span></p>

                                </td>
                            </tr>
                        <tr>
                            <td>
                                <p dir="rtl"><span>أ.د ربيع &nbsp;زكى حفنى عامر</span></p>

                            </td>
                            <td>
                                <p dir="rtl"><span>2000- 2003 </span></p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p dir="rtl"><span>أ.د أماني موسـى محمـد &nbsp;</span></p>

                            </td>
                            <td>
                                <p dir="rtl"><span>2003- 2008 </span></p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p dir="rtl"><span>أ.د يوسف مصطفى محجوب &nbsp;&nbsp;</span></p>

                            </td>
                            <td>
                                <p dir="rtl"><span>2008- 2011 </span></p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p dir="rtl"><span>أ.د دعـد محمد فؤاد</span></p>

                            </td>
                            <td>
                                <p dir="rtl"><span>2011- 2012 </span></p>

                            </td>
                        </tr>





                        <tr>
                            <td>
                                <p dir="rtl"><span>أ.د محمد نجيب عبد الفتاح</span></p>

                            </td>
                            <td>
                                <p dir="rtl"><span>2012 - 2013</span></p>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p dir="rtl"><span>أ.د عبد الله محمد عبد الفتاح</span></p>

                            </td>
                            <td>
                                <p dir="rtl"><span>2013 - &nbsp;2016</span></p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p dir="rtl"><span>أ.د. السيد محمد السيد خاطر </span></p>

                            </td>
                            <td>
                                <p dir="rtl"><span> 2016 – 2017</span></p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p dir="rtl"><span> أ.د آمـال &nbsp;سليمـان حسن</span></p>

                            </td>
                            <td>
                                <p dir="rtl"><span>2017- حتى 2021</span></p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p dir="rtl"><span> أ.د عصام علي أمين</span></p>

                            </td>
                            <td>
                                <p dir="rtl"><span>2021- حتى 2022</span></p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p dir="rtl"><span> أ.د ناجي رمضان درويش</span></p>

                            </td>
                            <td>
                                <p dir="rtl"><span>2022- حتى تاريخه</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>
