
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            دليل الأبحاث المنشورة
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>
                    قاعدة بيانات الأبحاث المنشورة
                </h3>
                <h5>
                    تتميز الكلية بعزارة الإنتاج العلمي لأعضاءة مما دفع جامعة القاهرة الى مكافاة الكلية أكثر من مرة لدفع الأعضاء على مواصلة التميز في الأبحاث
                </h5>
                <p>
                    للإطلاع على قائمة بالأبحاث العلمية المنشورة لأعضاء هيئة التدريس بقسم بحوث و إدارة العمليات برجاء<a href="~/media/publication-or.pdf" class="btn btn-primary" target="_blank">أضغط هنا</a>
                </p>
                <p>
                    للإطلاع على قائمة بالأبحاث العلمية المنشورة لأعضاء هيئة التدريس بقسم الإحصاء الحيوي و السكاني برجاء <a href="~/media/publication-dem.pdf" class="btn btn-primary" target="_blank">أضغط هنا</a>
                </p>
                <p>
                    للإطلاع على قائمة بالأبحاث العلمية المنشورة لأعضاء هيئة التدريس بقسمي علوم الحاسب و نظم و تكنولوجيا المعلومات برجاء <a href="~/media/publication-csis.pdf" class="btn btn-primary" target="_blank">أضغط هنا</a>
                </p>
                <p>
                    للإطلاع على قائمة بالأبحاث العلمية المنشورة لأعضاء هيئة التدريس بقسم بالإحصاء الرياضي برجاء <a href="javascript:void(0)" class="btn btn-primary">أضغط هنا</a>
                </p>
                <p>
                    للإطلاع على قائمة بالأبحاث العلمية المنشورة لأعضاء هيئة التدريس بقسم الإحصاء التطبيقي برجاء <a href="javascript:void(0)" class="btn btn-primary">أضغط هنا</a>
                </p>
                <p>
                    للإطلاع على مواصفات ومعايير اعداد الرسائل والبحوث العلمية <a href="javascript:void(0)" class="btn btn-primary">أضغط هنا</a>
                </p>
                <p>
                    للإطلاع على دليل التوثيق و الإلتباس برجاء <a href="javascript:void(0)" class="btn btn-primary">أضغط هنا</a>
                </p>
               



                <h3>
                    قائمة الأبحاث المنشورة للسادة أعضاء هيئة التدريس في مؤتمر الكلية


                </h3>
                <h4>
                    قائمة الأبحاث المنشورة في مؤتمر الكلية الخمسون(2015)


                </h4>
                <p>
                    لإطلاع على قائمة بالأبحاث العلمية المنشورة لأعضاء هيئة التدريس بقسم علوم الحاسب و نظم المعلومات برجاء <a href="javascript:void(0)" class="btn btn-primary">أضغط هنا</a>

                </p>
                <p>
                    للإطلاع على قائمة بالأبحاث العلمية المنشورة لأعضاء هيئة التدريس بقسم الإحصاء الحيوي و السكاني برجاء <a href="javascript:void(0)" class="btn btn-primary">أضغط هنا</a>

                </p>
                <p>
                    للإطلاع على قائمة بالأبحاث العلمية المنشورة لأعضاء هيئة التدريس بقسم بحوث و إدارة العمليات برجاء <a href="javascript:void(0)" class="btn btn-primary">أضغط هنا</a>

                </p>
                <p>
                    لإطلاع على قائمة بالأبحاث العلمية المنشورة لأعضاء هيئة التدريس بقسمالإحصاء الرياضي برجاء <a href="javascript:void(0)" class="btn btn-primary">أضغط هنا</a>

                </p>
                <p>
                    للإطلاع على قائمة بالأبحاث العلمية المنشورة لأعضاء هيئة التدريس بقسم الإحصاء التطبيقي برجاء <a href="javascript:void(0)" class="btn btn-primary">أضغط هنا</a>

                </p>


                <h4>
                    قائمة الأبحاث المنشورة في مؤتمر الكلية التاسع و الاربعون (2014)


                </h4>
                <p>
                    لإطلاع على قائمة بالأبحاث العلمية المنشورة لأعضاء هيئة التدريس بقسم علوم الحاسب و نظم المعلومات برجاء <a href="javascript:void(0)" class="btn btn-primary">أضغط هنا</a>

                </p>
                <p>
                    للإطلاع على قائمة بالأبحاث العلمية المنشورة لأعضاء هيئة التدريس بقسم الإحصاء الحيوي و السكاني برجاء <a href="javascript:void(0)" class="btn btn-primary">أضغط هنا</a>

                </p>
                <p>
                    للإطلاع على قائمة بالأبحاث العلمية المنشورة لأعضاء هيئة التدريس بقسم بحوث و إدارة العمليات برجاء <a href="javascript:void(0)" class="btn btn-primary">أضغط هنا</a>

                </p>
                <p>
                    لإطلاع على قائمة بالأبحاث العلمية المنشورة لأعضاء هيئة التدريس بقسمالإحصاء الرياضي برجاء <a href="javascript:void(0)" class="btn btn-primary">أضغط هنا</a>

                </p>
                <p>
                    للإطلاع على قائمة بالأبحاث العلمية المنشورة لأعضاء هيئة التدريس بقسم الإحصاء التطبيقي برجاء <a href="javascript;void(0)" class="btn btn-primary">أضغط هنا</a>

                </p>
            </div>
        </div>

    </div>
</section>
