
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            كيف تنشر في أول مجلة دولية لجامعة القاهرة في الإنسانيات والعلوم الاجتماعية التطبيقية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>
                    مقالة الاستاذ الدكتور رئيس الجامعة

                </h3>
                <p>
                    <a class="btn btn-primary" href="https://www.facebook.com/100003133028842/posts/2357413081039770?sfns=mo">
                        مقالة الاستاذ الدكتور رئيس الجامعة
                    </a>
                </p>
               
               
            </div>
        </div>

    </div>
</section>
