@{
    Layout = "_DashboardLayout";
}

<style>
    #click{
        font-size:14px !important;
    }

    #getmessage{
        font-size:17px !important;
    }
</style>

<div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp admin-form">
                <div class="inn-title">
                    <h4>إرسال إشعار للجميع</h4>
                </div>
                <div class="tab-inn">
                        <div class="row">
                            <div class="col s6">
                                <div class="input-field">
                                    <span><h4>الرساله</h4></span>
                                    <input id="getmessage" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="waves-effect waves-light btn-large waves-input-wrapper"><input id="click" type="button" class="waves-button-input" value="إرسال الإشعار"></i>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>