
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            الخطط البحثية لأقسام الكلية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>
                    مجالات عريضة للخطة الاستراتيجية

                </h3>
                <p>
                    أنشئ قسم الإحصاء الحيوي والسكاني بكلية الدراسات العليا للبحوث الاحصائية - جامعة القاهرة يهتم القسم بمحالات ثلاث للبحث العلمي وهي السكان والتنمية ، والصحة الإنجابية ، واجراء المسموح الميدانية وجمع البيانات. وهي جميعها مرتبطة ارتباط وثيقا حيث أن ديناميكيات السكان ، بما في ذلك معدلات النمو والتركيب العمري ومعدلات والخصوبة والوفيات ، والهجرة ، تؤثر علي كل جانب من الجوانب الاجتماعية والاقتصادية للتنمية البشرية . وكذلك فإن الصحة الإنجابية تؤثر بقوة ، وتتأثر بالتغيرات السكانية والتنموية. هذه المتغيرات يتم دراستها وتتبعها من خلال تحليل البيانات الإحصائية التي يتم إنتاجها بواسطة عمليات المسح السكانية. ومن أهم ملامح النسيج الديموجرافي الحالي في مصر هو أن أكثر من ربع السكان تتراوح أعمارهم بين 10 و24. وذلك فإن القسم سوف يعطي الأولوية للبحوث التي تعالج احتياجات وتطلعات هذه الفئة من السكان لضمان مشاركتها الفعالة في عملية التنمية.

                </p>
                <h3>
                    أولا : السكان والتنمية :-

                </h3>
                <p>
                    من المتوقع أن يتقرب عدد سكان مصر الي 90 مليون شخص قريبا ، ومن المتوقع أن يتحدث معظم النمو في المدن ، ومن المعروف أن للتحضر آثار عميقة علي عملية التنمية. تحت هذا المجال من مجالات البحث ، فإن القسم يدعم البحوث التي تهدف الي دراسة العلاقة بين المتغيرات الديمجرافية ومتغيرات التنمية. وهذه الدراسات تهدف الي رصد عملية التنمية واقتراح الاستراتيجيات الممكنة التي يمكن تطبيقها لتعزيز التقدم نحو تحقيق أهداف التنمية العالمية والمحلية.

                </p>
                <h3>
                    فئات البحوث الرئيسية التي سيتم النظر فيها خلال الفترة 2015-2020 هي :

                </h3>

                <p>
                    تحقيق الأهداف الإنمائية للألفية.
                </p>
                <p>
                    البطالة في مصر.
                </p>
                <p>
                    النمو الحضري والتلوث البيئي في مصر.
                </p>
                <h3>
                    ثانيا : الصحة الإنجابية :-
                </h3>
                <p>
                    يشجع القسم العمل مع قاعدة واسعة من الشركاء المهتمين بهذا المجال ، حيث تهدف الأبحاث الي مساعدة الحكومية والمنظمات غير الحكومية في مجال الصحة الإنجابية لتحسين فرص وصول الأفراد الي الخدمات ، ودعم قدرتهم علي تحمل التكاليف وتحسين جودة الرعاية الصحية الإنجابية لجميع الأفراد. وقد كان تنظيم الأسرة من المجالات ذات الأولوية للبحوث في القسم لكونها المساهم الرئيسي في خفض معدل نمو السكان في مصر. وبالأضافة الي ذلك ، ازداد الاهتمام العالمي بشأن تحسين صحة الأم ومنع أعمال العنف ضد المرأة.

                </p>
                <h3>
                    فئات البحوث الرئيسية التي سيتم النظر فيها خلال الفترة 2012-2016 هي :


                </h3>
                <p>
                    تحسين خدمات تنظيم الأسرة وزيادة الطلب علي هذه الخدمات.
                </p>
                <p>
                    تحسين الخدمات الصحية للأمهات وزيادة الطلب علي هذه الخدمات.
                </p>
                <p>
                    تمكين المرأة ومنع العنف ضد المرأة.
                </p>
                <h3>
                    ثالثا : المسموح الميدانية وجمع البيانات :-

                </h3>
                <p>
                    تحتاج مؤسسات البحث أن يتوفر لها معلومات كافية عن ديناميكيات السكان وإتجاهات المؤشرات. وذلك من أجل عمل الدراسات التحليلية واقتراح السياسات السليمة التي من شأنها أن تساهم – علي نحو ملائم – في توفير الاحتياجات الحالية والمستقبلية. وستقوم مراكز البحوث في المعهد بمساعدة القسم في كل جانب من جوانب هذه المهمة ، من تطوير للقدرات في مجال جمع البيانات وتحليلها الي المشاركة في المسوحات المحلية والإقليمية والعالمية. وسيدعم القسم هذا النشاط في مجالات الرئسية تشمل الهجرة ، الشيخوخة ، تغير المناخ والتوسع الحضري. سيدعم القسم أيضا البحوث التي تهدف الي تقييم مجموعات من البيانات المتاحة مثل التعداد والمسموح ، وتطوير منهجيات جديدة للبحث الميداني وتحسين النماذج النظرية الديموجرافية.
                </p>

                <h3>
                    فئات البحوث الرئيسية التي سيتم النظر فيها خلال الفترة 2012-2016 هي :


                </h3>
                <p>
                    الدراسات الاستقصائية التي تهدف الي دراسة السكان بالمنطقة المحيطة بجامعة القاهرة

                </p>
                <p>
                    تقييم البحوث لمجموعات البيانات القائمة ولبرامج تنظيم الأسرة / الصحة / الإنجابية.

                </p>

                <h3>
                    بحوث محددة للخطة التنفيذية 2015 /2020


                </h3>

                <p>
                    خلال العام سيدعم القسم التسجيل لرسالتين للدكتوراه ورسالتين للماجستير وورقة بحثية لأعضاء هيئة التدريس. وهذا الدعم يشمل العمل علي الحصول علي التمويل اللازم وعمل السمينارات والندوات المتعلقة بهذه البحوث. وقد تحددت هذه البحوث للعام 2015 – 2020 كما يلي:


                </p>

                <table class="table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <p style="text-align: center;"><strong>علي المستوى القومي</strong></p>
                            </td>
                            <td>
                                <p style="text-align: center;"><strong>علي مستوى جامعة القاهرة</strong></p>
                            </td>
                            <td>
                                <p style="text-align: center;"><strong>علي مستوى القسم</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p><strong>أولا:السكان والتنمية</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>تطور معدلات البطالة في مصر<br> (ورقة بحثية لأعضاء هيئة التدريس)</p>
                            </td>
                            <td>
                                <p>دراسة أسباب الوفاة بين العاملين بجامعة القاهرة (رسالة ماجستير)</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p><strong>ثانيا: الصحة الإنجابية</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>أثر المتغيرات الاقتصادية علي استخدام خدمات رعاية الحمل (رسالة ماجستير)</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p><strong>ثالثا: المسوح الميدانية وجمع البيانات</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>دور المشاركة المجتمعية في مواجهة الفقر (رسالة دكتوراه ، المسح الميداني ممول من الكلية)</p>
                            </td>
                            <td>
                                <p>الأثار النفسية للبطالة بين خرجي جامعة القاهرة-مسح ميداني (رسالة دكتوراه وبحث ميداني مشترك مع قسم علم النفس بكلية الآداب)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</section>
