
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary">تعريف الكليه </a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>
                    احسن رسالة ماجستير / دكتوراه لعام 2013
                </h3>
                <p>
                    أحسن رسالة ماجستير الطالب أ./ أحمد محمد إمام زكي فى بحوث العمليات
                </p>
                <p>
                    أحسن رسالة دكتوراه الطالبة د./ ايمان درويش أبو العلا  فى الإحصاء الرياضى

                </p>
                <h3>
                    احسن رسالة ماجستير / دكتوراه لعام 2014

                </h3>
                <p>
                    د. ياسمين يوسف عبد العال        أحسن رساله دكتوراه فى الإحصاء الرياضى
                </p>
               <p>
                    أ. محمود محمد عبد الوهاب       أحسن رساله ماجستير
               </p>

               <p>
                    فاز بالجائرة (الثالثة) فريق عمل بقسم بحوث العمليات بالمعهد فى مسابقة نقل التكنولوجيا بجامعة القاهرة

               </p>
               
            </div>
        </div>

    </div>
</section>
