
<style>
    .textsizespearker {
        font-size: 22px;
    }

    h3 {
        margin-top: 100px;
    }

</style>

<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item">
                        <a class="h2 text-primary font-secondary">
                            البرنامج التدريبى
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-50">
                <h3>
                    البرنامج التدريبــي لعــام 2019-2020-


                </h3>
                <p>
                    يمنح المتدرب شهادة معتمدة من جامعة القاهرة لها حق التوثيق من وزارة الخارجية .

                </p>
                <p>
                    يمكن الاتفاق مع الجهات على عقد برامج بأساليب ومواعيد خاصة بما يتناسب مع ظروفهم وإمكانياتهم.


                </p>
                <p>
                    يمكن أن يتم التدريب فى الهيئات او المؤسسات بانتقال المحاضرين اليهم وذلك بعد التنسيق مع المعهد إذا توافرت لدى المؤسسة او الهيئة المكان والأجهزة والبرامج اللازمة.

                </p>
                <p>
                    يمنح المعهد خصماً للمؤسسات والهيئات المختلفة بالدولة وطلاب المدارس والمعاهد والجامعات.

                </p>

              <h3>
                    لمزيد من المعلومات برجاء الإتصال بهاتف إدارة التدريب 01019448889


              </h3>
                <a class="btn btn-primary" href="~/media/trainingcourses2019.pdf">وكذلك الضغط على هذا لينك</a>
            </div>
        </div>

    </div>
</section>
