@model DiplomasDepartmentsViewModel

@{
    ViewData["Title"] = "Edit Department";
    Layout = "_DashboardLayout";

}

<h1>Edit</h1>

<div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp admin-form">
                <div class="inn-title">
                    <h4>تعديل القسم</h4>
                </div>
                <div class="tab-inn">
                    <form class="form" method="post" asp-action="Edit">
                        <input hidden asp-for="DepId" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col s6">
                                <div class="input-field">
                                    <span class="textsizespan">اسم القسم</span>
                                    <input asp-for="DepartmentName" type="text">
                                    <span asp-validation-for="DepartmentName" class="validationcolor"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <span class="textsizespan">الوصف</span>
                                <textarea rows="6" asp-for="Description"></textarea>
                                <span asp-validation-for="Description" class="validationcolor"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="waves-effect waves-light btn-large waves-input-wrapper"><input type="submit" class="waves-button-input EditSubmitbutton" value="حفظ التعديلات"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
