@* @model SubjectsMarksViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_DashboardLayout";

}



<style>
    .dropppsize {
        font-size: 18px !important;
    }

</style>

<div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp admin-form">
                <div class="inn-title">
                    <h4>إضافه برنامج دراسي جديد</h4>
                </div>
                <div class="tab-inn">
                    <form class="form" method="post" asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col s6">
                                <div class="input-field">
                                    <span class="textsizespan">اسم البرنامج الدراسي</span>
                                    <input asp-for="sub" type="text">
                                    <span asp-validation-for="SectionName" class="validationcolor"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <span class="textsizespan">البرنامج</span>
                                <select asp-for="DepartmentId" asp-items="ViewBag.DepartmentList" class="browser-default dropppsize">
                                    <option value="">-- أختر البرنامج --</option>
                                </select>
                                <span asp-validation-for="DepartmentId" class="validationcolor"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <span class="textsizespan">الوصف</span>
                                <textarea rows="6" asp-for="Description" type="text"></textarea>
                                <span asp-validation-for="Description" class="validationcolor"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="file-field input-field col s12">
                                <div class="btn admin-upload-btn">
                                    <span class="textsizespan">رفع صوره</span>
                                    <input type="file" asp-for="CreateSectionImage" data-rule-extension="jpg,png,jpeg" data-msg-extension="Only JPG , PNG , JPEG are allowed" data-rule-filesize="1048576" data-msg-filesize="Max file size is 1 MB" />
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="">
                                </div>
                                <span asp-validation-for="CreateSectionImage" class="validationcolor"></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="waves-effect waves-light btn-large waves-input-wrapper"><input type="submit" class="waves-button-input CreateSubmitButton" value="إضافه برنامج دراسي"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> *@